.main__content__message{ data:{message:{id: message.id}}}
  .main__content__message__user-name
    = message.user.name
  .main__content__message__post-day 
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.main__content__message__text
      = message.content
  = image_tag message.image.url if message.image.present?